{% extends 'base.html.twig' %}

{% block body %}
    <h1>Time</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time.id }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ time.period }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ time.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('time_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('time_edit', { 'id': time.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
