{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/map.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid ">
    <h1>Map</h1>
    <div class="row">
        <div class="col-xs-10">
            <div class="map">
                {% if map is empty %}
                    <div class="alert alert-warning">You are still on the firm ground, you have to loat fixtures first ! </div>
                {% endif %}
                {% for y in 0..6 %}
                    <div class="row">
                        {% for x in 0..12 %}
                            {% if map[x][y] is defined %}
                                <div class="tile col-xs-1 {{ map[x][y].type }}">
                                    <div class="tile-name">{{ map[x][y].name ?? ' '}}</div>
                                    <div class="tile-name coords">{{ map[x][y].coordX }},{{ map[x][y].coordY }}</div>
                                    {% if boat.coordX == x and boat.coordY == y %}
                                        <img class="boat img-responsive" src="{{ asset('assets/images/boat.png') }}"
                                             alt="boat"/>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
