{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 mx-auto">
                <!-- Bouton "painting" -->
                <div class="d-none d-lg-block">
                    <ul class="nav nav-pills mb-3 center-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                               aria-controls="pills-home" aria-selected="false"><i
                                        class="fas fa-clone"></i> {{ artWork.type.name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                               role="tab"
                               aria-controls="pills-contact" aria-selected="false"><i
                                        class="fas fa-leaf"></i> {{ artWork.paint.name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                               role="tab"
                               aria-controls="pills-profile" aria-selected="false"><i
                                        class="fas fa-pencil-alt"></i> {{ artWork.tech.name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                               role="tab"
                               aria-controls="pills-contact" aria-selected="false"><i
                                        class="fas fa-leaf"></i> {{ artWork.materials.name }}</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            YOUHOU
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            GABOU
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            BOUGA
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <img class="w-100"
                         src="https://storage.gra1.cloud.ovh.net/v1/AUTH_10e1a9235c63431c95e5b84a247830db/prod/artwork/42673_1_l.jpg"
                         id="imageShow">
                </div>
                <!-- Bouton "Voir plus" -->
                <div class="col-xs-12 col-lg-9">
                    <p class="resume mt-lg-5" id="hidetext">{{ artWork.longdescription }}</p>
                    <div class="resume mt-lg-5" id="time">
                        <h3>{{ artWork.time.period }}</h3>
                        <p>{{ artWork.time.description }}</p>
                    </div>
                    <div class="resume mt-lg-5" id="artist">
                        <h3>{{ artWork.artist.name }}</h3>
                        <p>{{ artWork.artist.description }}</p>
                    </div>
                    <div class="resume mt-lg-5" id="style">
                        <h3>{{ artWork.style.name }}</h3>
                        <p>{{ artWork.style.description }}</p>
                    </div>
                </div>
                <div>
                    <div class="collapse" id="collapseExample">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample" id="collapseShow"> Revenir !
                        </button>

                        <img class="objeFit w-50"
                             src="https://storage.gra1.cloud.ovh.net/v1/AUTH_10e1a9235c63431c95e5b84a247830db/prod/artwork/42673_1_l.jpg"
                             id="imageHidden">

                    </div>
                </div>
                <div class="row">
                    <div class="col-7 d-sm-block d-none mt-3">
                        <a class="btn btn-primary" data-toggle="collapse"
                           href="#collapseExample"
                           role="button"
                           aria-expanded="false" aria-controls="collapseExample"
                           id="collapseHidden"> Agrandir l'image ! </a>
                    </div>
                    {% set thisArtwork = 0 %}
                    {% set idFavorite = "" %}
                    {% for favorite in favorites %}
                        {% if favorite.oeuvre.id == artWork.id %}
                            {% if favorite.favourite == 1 %}
                                {% set thisArtwork = 1 %}
                                {% set idFavorite = favorite.id %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if thisArtwork == 0 %}
                        <div class="col-7">
                            <a href="{{ path('artwork_fav', { id : artWork.id } ) }}"
                               class="btn btn-primary mx-auto mt-2" id="fav">
                                <i class="far fa-heart"></i> Mettre l'oeuvre en favoris</a>
                        </div>
                    {% else %}
                        <div class="col-7">
                            <a href="{{ path('artwork_defav', { id : idFavorite } ) }}"
                               class="btn btn-primary mx-auto mt-2" id="fav">
                                <i class="fas fa-heart selectedPills"></i> Oeuvre en favoris!</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-9"></div>
            </div>
        </div>
    </div>
{% endblock %}

